<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Fontawesome -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Boxicons -->
<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css'
	rel='stylesheet'>
<!-- My CSS -->
<link rel="stylesheet" href="css/style.css">
<!-- SweetAlert -->
<link rel="stylesheet" href="sweetalert2.min.css">
<!-- My Bootstrap CSS -->
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css"
	rel="stylesheet" />


<style>
.ticket-status {
	background-color: #00b300; /* green */
	border-radius: 10px;
	padding: 6px;
	color: white;
	font-size: 11px;
}

.alert {
	padding: 20px;
	background-color: #F9D949;
	color: #8A6D3B;
	position: relative;
	margin-bottom: 10px;
}

.closebtn {
	position: absolute;
	top: 0;
	right: 0;
	color: white;
	font-size: 30px;
	margin-right: 10px;
	font-weight: bold;
	cursor: pointer;
}

.closebtn:hover {
	color: black;
}

.alert span strong {
	font-weight: bold;
}
</style>

<!-- My Bootstrap CSS -->
<link rel="stylesheet"
	th:href="'https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css'">
<script
	th:src="'https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'"></script>
<script
	th:src="'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js'"></script>
<script
	th:src="'https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js'"></script>

<title>Admin</title>
</head>
<body>

	<!-- SIDEBAR -->
	<section id="sidebar" class="hide">
		<a href="admin.ark" class="brand"> <img src="img/brandlogo.png"
			style="width: 60px; height: 60px"> <span class="text"
			style="color: gray">ARK</span>
		</a>
		<ul class="side-menu top">
			<li class="menu-itme active"><a href="admin.ark"> <i
					class='bx bxs-dashboard'></i> <span class="text">Home</span>
			</a></li>
			<li class="menu-item " data-table="pending"
				onclick="handleClick(this)"><a href="#"> <i
					class='bx bxs-shopping-bag-alt'></i> <span class="text">Pending
						Tickets</span>
			</a></li>
			<li class="menu-item" data-table="ongoing"
				onclick="handleClick(this)"><a href="#"> <i
					class='bx bxs-doughnut-chart'></i> <span class="text">On-going
						Tickets</span>
			</a></li>
			<li class="menu-item " data-table="completed"
				onclick="handleClick(this)"><a href="#"> <i
					class='bx bxs-message-dots'></i> <span class="text">Completed
						Tickets</span>
			</a></li>
			<li class="menu-item " data-table="support"
				onclick="handleClick(this)"><a href="#"> <i
					class="bx bxs-wrench"></i> <span class="text">Support Team</span>
			</a></li>
			<li class="menu-item" data-table="account"
				onclick="handleClick(this)"><a href="#"> <i
					class="bx bxs-group"></i> <span class="text">Accounts</span>
			</a></li>

		</ul>
		<ul class="side-menu">
			<li><a href="#"> <i class='bx bxs-cog'></i> <span
					class="text">Settings</span>
			</a></li>
			<li><a href="/logout" class="logout"> <i
					class='bx bxs-log-out-circle'></i> <span class="text">Logout</span>
			</a></li>
		</ul>
	</section>
	<!-- SIDEBAR -->

	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu'></i> <a href="admin.ark" class="nav-link">
				<strong>Admin Panel</strong>
			</a>

			<form action="#"></form>
			<strong>Hello, <span th:text="${session.user_name}"></span></strong>
			<a href="#" class="profile"> <img src="img/people.png">
			</a>
		</nav>

		<div class=" d-flex justify-content-between"
			style="margin-right: 20px; margin-top: 10px">
			<div></div>
			<div class="btn-group dropleft" style="border-radius: 20px;">
				<button type="button" class="btn btn-success"
					style="border-radius: 20px; padding: 5px 10px; font-size: 13px;"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class='bx bxs-download' style="font-size: 14px;"></i> Reports to
					EXCEL

				</button>
				<div class="dropdown-menu">
					<a class="dropdown-item monthly_report" style="cursor: pointer">Monthly
						Reports</a> <a class="dropdown-item ticket_per_assignee"
						style="cursor: pointer">Ticket List Per Assignee</a> <a
						class="dropdown-item aging_tickets" style="cursor: pointer">Aging
						Tickets</a>
				</div>
			</div>
		</div>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<ul class="box-info">
				<li class="menu-item " data-table="pending"
					onclick="handleClick(this)"><i class='bx bxs-calendar-check'></i>
					<span class="text">
						<h3 id="pending_count" th:text="${pending_ticket_count}">0</h3>
						<p>Pending Tickets</p>
				</span></li>
				<li class="menu-item " data-table="ongoing"
					onclick="handleClick(this)"><i class='bx bxs-hourglass'></i> <span
					class="text">
						<h3 id="ongoing_count" th:text="${ongoing_ticket_count}">0</h3>
						<p>On-going Tickets</p>
				</span></li>

				<li class="menu-item" data-table="completed"
					onclick="handleClick(this)"><i class='bx bxs-check-circle'></i>
					<span class="text">
						<h3 id="completed_count" th:text="${completed_ticket_count}">0</h3>
						<p>Completed Tickets</p>
				</span></li>
			</ul>



			<!-- Modal for CSV Drop down -->
			<!-- Montly CSV -->
			<form th:action="@{/tickets/csv}" method="get">
				<div class="modal fade" id="monthly_report_filter_modal"
					tabindex="-1" role="dialog" aria-labelledby="example"
					aria-hidden="true">
					<div class="modal-dialog modal-xl" role="document">
						<div class="modal-content">
							<!-- Hidden -->
							<div class="modal-header" style="display: inline-block;">
								<h6 class="modal-title" id="exampleModalLabel"
									style="display: inline-block;">Monthly Reports</h6>
							</div>

							<div class="modal-body">
								<div class="form-group">
									<label for="id" class="col-form-label">Choose filter</label>
									<div class="input-field">
										<div class="form-select-icon">
											<i class="uil uil-user icon"></i>
										</div>
										<select class="form-select" id="dropdownRole" name="filter"
											style="color: grey">
											<option value="default">Choose filter</option>
											<option value="This month">This month</option>
											<option value="Last month">Last month</option>
											<option value="All tickets">All tickets</option>

										</select>
									</div>
								</div>


							</div>
							<div class="modal-footer ">
								<button type="submit" class="btn btn-primary download_excel">Download
									EXCEL FILE</button>
								<button type="button" class="btn"
									style="margin-left: 10px; background-color: grey; color: white"
									data-dismiss="modal">Close</button>
								<div class="d-flex justify-content-between"
									style="margin-top: 35px">
									<div></div>

								</div>

							</div>
						</div>
					</div>
				</div>
			</form>
			<!-- End of  Montly CSV -->

			<!-- Assignee CSV -->
			<form th:action="@{/tickets/csv/assignee}" method="get">
				<div class="modal fade" id="ticket_per_assignee_modal" tabindex="-1"
					role="dialog" aria-labelledby="example" aria-hidden="true">
					<div class="modal-dialog modal-xl" role="document">
						<div class="modal-content">
							<!-- Hidden -->
							<div class="modal-header" style="display: inline-block;">
								<h6 class="modal-title" id="exampleModalLabel"
									style="display: inline-block;">Ticket per assignee</h6>
							</div>

							<div class="modal-body">
								<div class="form-group">
									<label for="id" class="col-form-label">Choose Assignee</label>
									<div class="input-field">
										<div class="form-select-icon">
											<i class="uil uil-user icon"></i>
										</div>
										<select class="form-select" id="dropdownRoleAssignee"
											name="asignee" style="color: grey">
											<option value="default">Choose filter</option>
											<option value="Sales Team">Sales Team</option>
											<option value="Support Team">Support Team</option>
											<option value="Billing Team">Billing Team</option>
											<option value="Collection Team">Collection Team</option>
											<option value="Treasury Team">Treasury Team</option>
											<option value="Completed">Completed</option>
										</select>
									</div>
								</div>


							</div>
							<div class="modal-footer ">
								<button type="submit"
									class="btn btn-primary download_excel_asignee">Download
									EXCEL FILE</button>
								<button type="button" class="btn"
									style="margin-left: 10px; background-color: grey; color: white"
									data-dismiss="modal">Close</button>
								<div class="d-flex justify-content-between"
									style="margin-top: 35px">
									<div></div>

								</div>

							</div>
						</div>
					</div>
				</div>
			</form>
			<!--End of Assignee CSV -->

			<!-- Aging tickets -->
			<form th:action="@{/tickets/csv/aging}" method="get">
				<div class="modal fade" id="aging_ticket_modal" tabindex="-1"
					role="dialog" aria-labelledby="example" aria-hidden="true">
					<div class="modal-dialog modal-xl" role="document">
						<div class="modal-content">
							<!-- Hidden -->
							<div class="modal-header" style="display: inline-block;">
								<h6 class="modal-title" id="exampleModalLabel"
									style="display: inline-block;">Aging tickets</h6>
							</div>

							<div class="modal-body">
								<div class="form-group">
									<label for="id" class="col-form-label">Choose status</label>
									<div class="input-field">
										<div class="form-select-icon">
											<i class="uil uil-user icon"></i>
										</div>
										<select class="form-select" id="dropdownAging" name="aging"
											style="color: grey">
											<option value="default">Choose filter</option>
											<option value="pending">Pending</option>
											<option value="ongoing">On-going</option>
											<option value="all">All aging tickets</option>
										</select>
									</div>
								</div>


							</div>
							<div class="modal-footer ">
								<button type="submit"
									class="btn btn-primary download_excel_aging">Download
									EXCEL FILE</button>
								<button type="button" class="btn"
									style="margin-left: 10px; background-color: grey; color: white"
									data-dismiss="modal">Close</button>
								<div class="d-flex justify-content-between"
									style="margin-top: 35px">
									<div></div>

								</div>

							</div>
						</div>
					</div>
				</div>
			</form>
			<!-- End of Aging tickets -->
			<!-- End of Aging tickets -->
			<!-- End of Modal for CSV Drop down -->


			<!-- Account Table -->
			<div class="table-data" id="account-table" style="display: none">
				<div class="order">
					<div class="head">
						<h3>Accounts</h3>
						<i class='bx bx-search'></i> <i class='bx bx-filter'></i>
					</div>
					<table>
						<thead>
							<tr>
								<th scope="col">User #</th>
								<th scope="col">Name</th>
								<th scope="col">Email</th>
								<th scope="col">Role</th>
								<th scope="col">Status</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="t : ${users}">

								<td scope="row" th:text="${t.user_id}"></td>
								<td th:text="${t.user_name}"></td>
								<td th:text="${t.user_email}"></td>
								<td th:text="${t.userRole}"></td>
								<td th:text="${t.status}"></td>
								<td th:text="${t.user_password}"></td>
								<td>
									<button type="button"
										class="btn btn-success my-2 account_modal" data-toggle="modal"
										data-target="#accountModal">
										<i class="fa fa-edit" style="font-size: 20px;"></i>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>



			<!-- Modal Table -->
			<div class="modal fade" id="accountModal" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<input type="hidden" class="form-control" name="user_id"
							id="user_id_"> <input type="hidden" class="form-control"
							name="user_password" id="user_password_"> <input
							type="hidden" class="form-control" name="status" id="status_"
							value="">

						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Create Ticket</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label for="title"></label> <label for="issue">Name</label> <input
									type="text" class="form-control" id="user_name_"
									name="user_name" readonly>

							</div>
							<div class="form-group">
								<label for="issue">Email</label> <input type="text"
									class="form-control" id="user_email_" name="user_email"
									readonly>
							</div>
							<div class="form-group">
								<label for="issue">Role</label> <input type="text"
									class="form-control" id="role" name="userRole" readonly>
							</div>
							<div class="input-field">
								<div class="form-select-icon">
									<i class="uil uil-user icon"></i>
								</div>
								<select class="form-select" id="dropdownRole" name="new_status"
									style="color: grey">
									<option value="pending">pending</option>
									<option value="verified">verified</option>
									<option value="deleted">deleted</option>
								</select>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary updateAccount"
								id="accountModalButton">Update</button>
						</div>
					</div>
				</div>
			</div>


			<!--  end of account modal -->
			<!-- Pending Table -->
			<div class="table-data" id="pending-table">
				<div class="order">
					<div class="head">
						<h3>Pending tickets</h3>
						<i class='bx bx-search'></i> <i class='bx bx-filter'></i>
					</div>
					<table>
						<thead>
							<tr>
								<th scope="col">Ticket No.</th>
								<th scope="col">Date Created</th>
								<th scope="col">Title</th>
								<th scope="col">Description</th>
								<th scope="col">Client Name</th>
								<th scope="col">Status</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="t : ${pending_tickets}">
								<td scope="row" th:text="${t.ticket_id}"></td>
								<td th:text="${t.created_on}"></td>
								<td th:text="${t.title}"></td>
								<td th:text="${t.description}"></td>
								<td th:text="${t.user_name}"></td>
								<td th:text="${t.status}"></td>
								<td style="display: none;" th:text="${t.conforme_no}"></td>
								<td>
									<button type="button" class="btn btn-success my-2 eBtn"
										data-toggle="modal" data-target="#viewTicket">
										<i class="fa fa-edit" style="font-size: 20px;"></i>
									</button>
									<button type="button" class="btn btn-danger my-2"
										th:style="${session.userRole == 'sales_team' ? '' : 'display:none;'}">
										<i class="fa fa-trash" style="font-size: 20px;"></i>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>


			<!-- Ongoing Table -->
			<div class="table-data" id="ongoing-table" style="display: none">
				<!-- Table content here -->
				<div class="order">
					<div class="head">
						<h3>On going tickets</h3>

						<ul class="horizontal-menu">

							<li class="btn btn-danger waiting_button"><i
								class='bx bxs-hourglass' style="color: white;"></i> <span
								class="text"> WAITING LIST </span></li>

							<li class=" btn btn btn-info ready_to_proceed"><i
								class="bx bx-send" style="color: white;"></i> <span class="text">
									READY TO PROCEED </span></li>

						</ul>

					</div>
					<table>
						<thead>
							<tr>
								<th scope="col">Ticket No.</th>
								<th scope="col">Date Created</th>
								<th scope="col">Title</th>
								<th scope="col">Client Name</th>
								<th scope="col">Status</th>
								<th scope="col">Amount</th>
								<th scope="col">Conforme No.</th>
								<th scope="col">Progess</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="t : ${ongoing_tickets}">
								<td scope="row" th:text="${t.ticket_id}"></td>
								<td th:text="${t.created_on}"></td>
								<td th:text="${t.title}"></td>
								<td th:text="${t.user_name}"></td>
								<td th:text="${t.status}"></td>
								<td th:text="${t.amount}"></td>
								<td th:text="${t.conforme_no}"></td>
								<td th:text="${t.progress}"></td>
								<td style="display: none" th:text="${t.conforme_date}"></td>
								<td style="display: none" th:text="${t.salesSignature}"></td>
								<td style="display: none" th:text="${t.description}"></td>
								<td style="display: none" th:text="${t.client_signature}"></td>
								<td style="display: none" th:text="${t.client_payment_proof}"></td>
								<td style="display: none" th:text="${t.user_id}"></td>

								<td>
									<button type="button" class="btn btn-success my-2 ongoingBtn"
										data-toggle="modal" data-target="#ongoingModal">
										<i class="fa fa-edit" style="font-size: 20px;"></i>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
					<div th:if="${#lists.isEmpty(ongoing_tickets
           )}"
						style="text-align: center; margin-top: 20px">
						<span style="color: red">No data is found.</span>
					</div>
				</div>
			</div>

			<!-- Completed Table -->
			<div class="table-data" id="completed-table" style="display: none">
				<!-- Table content here -->
				<div class="order">
					<div class="head">
						<h3>Completed tickets</h3>
						<ul class="horizontal-menu">

							<li class="btn btn-danger sales_team_button"><i
								class='bx bx-send' style="color: white;"></i> <span
								style="color: white"> Sales Team </span></li>

							<li class=" btn btn btn-info billing_team_button"><i
								class="bx bx-send" style="color: white;"></i> <span class="text">
									Billing </span></li>

							<li class=" btn btn-primary collection_team_button"><i
								class="bx bx-send" style="color: white;"></i> <span class="text">
									Collection </span></li>

							<li class=" btn btn btn-success treasury_team_button"><i
								class="bx bx-send" style="color: white;"></i> <span class="text">
									Treasury </span></li>
							<li class=" btn completed_team" style="background-color: #ff8c00">
								<i class="bx bx-send" style="color: white;"></i> <span
								style="color: white"> Client </span>
							</li>

						</ul>
					</div>
					<table>
						<thead>
							<tr>
								<th scope="col">Ticket No.</th>
								<th scope="col">Date Created</th>
								<th scope="col">Title</th>
								<th scope="col">Client Name</th>
								<th scope="col">Status</th>
								<th scope="col">Amount</th>
								<th scope="col">Conforme No.</th>
								<th scope="col">Progess</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="t : ${completed_tickets}">
								<td scope="row" th:text="${t.ticket_id}"></td>
								<td th:text="${t.created_on}"></td>
								<td th:text="${t.title}"></td>
								<td th:text="${t.user_name}"></td>
								<td th:text="${t.status}"></td>
								<td th:text="${t.amount}"></td>
								<td th:text="${t.conforme_no}"></td>
								<td th:text="${t.progress}"></td>
								<td style="display: none" th:text="${t.conforme_date}"></td>
								<td style="display: none" th:text="${t.salesSignature}"></td>
								<td style="display: none" th:text="${t.description}"></td>
								<td style="display: none" th:text="${t.client_signature}"></td>
								<td style="display: none" th:text="${t.client_payment_proof}"></td>
								<td style="display: none" th:text="${t.user_id}"></td>
								<td>
									<button type="button" class="btn btn-success my-2 ongoingBtn"
										data-toggle="modal" data-target="#ongoingModal">
										<i class="fa fa-edit" style="font-size: 20px;"></i>
									</button>

								</td>
							</tr>
						</tbody>
					</table>
					<div th:if="${#lists.isEmpty(completed_tickets)}"
						style="text-align: center; margin-top: 20px">
						<span style="color: red">No data is found.</span>
					</div>
				</div>
			</div>

			<!-- Support Table -->
			<div class="table-data" id="support-table" style="display: none">
				<!-- Table content here -->
				<div class="order">
					<div class="head">
						<h3>
							Support Team <i class="bx bxs-wrench"></i>
						</h3>
						<i class='bx bx-search'></i> <i class='bx bx-filter'></i>
					</div>
					<table>
						<thead>
							<tr>
								<th scope="col">Ticket No.</th>
								<th scope="col">Date Created</th>
								<th scope="col">Title</th>
								<th scope="col">Client Name</th>
								<th scope="col">Status</th>
								<th scope="col">Amount</th>
								<th scope="col">Conforme No</th>
								<th scope="col">Progress</th>
								<th scope="col">Action</th>

							</tr>
						</thead>
						<tbody>
							<tr th:each="t : ${support_tickets}">
								<td scope="row" th:text="${t.ticket_id}"></td>
								<td th:text="${t.created_on}"></td>
								<td th:text="${t.title}"></td>
								<td th:text="${t.user_name}"></td>
								<td th:text="${t.status}"></td>
								<td th:text="${t.amount}"></td>
								<td th:text="${t.conforme_no}"></td>
								<td th:text="${t.progress}"></td>
								<td style="display: none" th:text="${t.conforme_date}"></td>
								<td style="display: none" th:text="${t.salesSignature}"></td>
								<td style="display: none" th:text="${t.description}"></td>
								<td style="display: none" th:text="${t.client_signature}"></td>
								<td style="display: none" th:text="${t.client_payment_proof}"></td>
								<td><a class="btn btn-success my-2 "
									th:href="@{'/tickets/'+${t.ticket_id}}"> <i
										class="fa fa-edit" style="font-size: 20px;"></i>
								</a></td>
							</tr>
						</tbody>
					</table>
					<div th:if="${#lists.isEmpty(support_tickets)}"
						style="text-align: center; margin-top: 20px">
						<span style="color: red">No data is found.</span>
					</div>
				</div>
			</div>

			<!-- End of Support Table-->

			<!-- View Ticket -->
			<div id="myForm">

				<div class="modal fade" id="viewTicket" tabindex="-1" role="dialog"
					aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">

						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">View Ticket</h5>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>

							<div class="modal-body">
								<div class="row">

									<div class="col-sm-6">
										<div class="form-group">
											<label for="id" class="col-form-label">Ticket No</label> <input
												type="text" class="form-control" id="id" name="ticket_id"
												readonly>
										</div>
									</div>

									<div class="col-sm-6">
										<div class="form-group">
											<label for="date" class="col-form-label">Date Created</label>
											<input type="text" class="form-control" id="date"
												name="created_on" readonly>
										</div>
									</div>

								</div>
								<div class="form-group">
									<label for="title" class="col-form-label">Title</label> <input
										type="text" class="form-control" id="title" name="title"
										readonly>
								</div>
								<div class="form-group">
									<label for="description" class="col-form-label">Description</label>
									<textarea class="form-control" id="description"
										name="description"></textarea>
								</div>
								<div class="form-group">
									<label for="name" class="col-form-label">Client Name</label> <input
										type="text" class="form-control" id="name" name="user_name"
										readonly>
								</div>
								<div class="form-group">
									<label for="status" class="col-form-label">Status</label> <input
										type="text" class="form-control" id="status" name="status"
										readonly>
								</div>
								<input type="hidden" class="form-control" id="conforme_no"
									name="conforme_no">
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-primary button_conforme"
									data-toggle="modal" data-target="#create_conforme"
									th:style="${session.userRole == 'sales_team' || session.userRole == 'sales_team_leader'  ? '' : 'display:none;'}">Conforme
									Slip</button>
								<button type="button" class="btn btn-secondary"
									data-dismiss="modal">Close</button>
							</div>

						</div>
					</div>
				</div>
			</div>
			<!-- End of  View Ticket -->
			<!-- Conformed Slip Modal -->
			<form id="pending-form" enctype="multipart/form-data">
				<div class="modal fade" id="create_conforme" tabindex="-1"
					role="dialog" aria-labelledby="exampleModalLabel"
					aria-hidden="true">
					<div class="modal-dialog modal-xl" role="document">
						<div class="modal-content">

							<input type="hidden" class="form-control" id="status"
								name="status" value="ongoing"> <input type="hidden"
								class="form-control" id="progress" name="progress">

							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Conforme
									Ticket</h5>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>

							<div class="modal-body">
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label for="id" class="col-form-label">Ticket No.</label> <input
												type="text" class="form-control" id="ticketID_pending"
												name="ticket_id" readonly>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label for="conforme_no" class="col-form-label">Conforme
												No.</label> <input type="text" class="form-control"
												name="conforme_no" readonly>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label for="title" class="col-form-label">Title</label> <input
												type="text" class="form-control" id="title" name="title"
												readonly>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label for="title" class="col-form-label">Client name</label>
											<input type="text" class="form-control" id="user_name"
												name="user_name" readonly>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label for="description" class="col-form-label">Description</label>
									<textarea class="form-control" rows="5" name="description"
										readonly></textarea>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<div class="mb-3">
											<label for="customFile" class="form-label">Client's
												Signature</label> <input type="file" class="form-control"
												id="customFile" disabled />
										</div>
									</div>
									<div class="col-sm-6">
										<div class="mb-3">
											<label for="customFile" class="form-label">Proof of
												Payment</label> <input type="file" class="form-control"
												id="customFile" disabled />
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label for="conforme_date" class="col-form-label">Conforme
												date</label> <input type="text" class="form-control"
												name="conforme_date" readonly>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label for="name" class="col-form-label">Amount</label> <input
												type="text" class="form-control" id="amount" name="amount"
												required>
										</div>
									</div>
								</div>
								<div class="mb-3">
									<label for="customFile" class="form-label">Sale's Team
										Signature</label> <input type="file" class="form-control"
										id="customFile" name="img" required />
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-primary conforme-button">Submit</button>
								<button type="button" class="btn btn-secondary"
									data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
			</form>

			<!-- Conformed Slip End Modal -->

			<!-- Ongoing Slip -->
			<form id="form-ongoing-data" enctype="multipart/form-data">
				<div class="modal fade" id="ongoingModal" tabindex="-1"
					role="dialog" aria-labelledby="example" aria-hidden="true">
					<div class="modal-dialog modal-xl" role="document">
						<div class="modal-content">
							<input type="hidden" class="form-control" id="user_id"
								name="user_id"> <input type="hidden"
								class="form-control" id="status__" name="status"> <input
								type="hidden" class="form-control" id="client_signatures"
								name="client_signature"> <input type="hidden"
								class="form-control" id="client_payment_proofs"
								name="client_payment_proof"> <input type="hidden"
								class="form-control" id="salesSignatures" name="salesSignature">
							<input type="hidden" class="form-control" id="progress_ongoing"
								name="progress">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Ticket
									Details</h5>

								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>

							<div class="modal-body">
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label for="id" class="col-form-label">Ticket No.</label> <input
												type="text" class="form-control" id="ticket_id"
												name="ticket_id" readonly>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label for="conforme_no" class="col-form-label">Conforme
												No.</label> <input type="text" class="form-control"
												id="conforme_no_ongoing" name="conforme_no" readonly>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label for="title" class="col-form-label">Title</label> <input
												type="text" class="form-control" id="title_ongoing"
												name="title" readonly>
										</div>
									</div>

									<div class="col-sm-6">
										<div class="form-group">
											<label for="title" class="col-form-label">Client name</label>
											<input type="text" class="form-control"
												id="user_name_ongoing" name="user_name" readonly>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label for="description" class="col-form-label">Description</label>
									<textarea class="form-control" rows="5" name="description"
										id="description_ongoing" readonly></textarea>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<div class="row">
											<div class="col-sm-6">
												<div class="mb-3">
													<label for="customFile" class="form-label">Client's
														Signature</label>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="mb-3">
													<img
														style="width: 150px; height: 150px; margin-left: 30px; cursor: pointer;"
														id="client_signature"
														class="rounded float-left imageSignature"> <label
														id="waiting_signature" class="form-label"
														style="color: red">Waiting for client's signature*</label>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="row">
											<div class="col-sm-6">
												<div class="mb-3">
													<label for="customFile" class="form-label">Proof of
														Payment</label>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="mb-3">
													<label id="waiting_payment" class="form-label"
														style="color: red">Waiting for client's proof of
														payment*</label> <img
														style="width: 150px; height: 150px; margin-left: 30px; cursor: pointer;"
														id="client_payment_proof"
														class="rounded float-left imageProof">

												</div>
											</div>
										</div>

									</div>
								</div>


								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label for="conforme_date_ongoing" class="col-form-label">Conforme
												date</label> <input type="text" class="form-control"
												name="conforme_date" id="conforme_date_ongoing" readonly>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label for="name" class="col-form-label">Amount</label> <input
												type="text" class="form-control" id="amount_ongoing"
												name="amount" readonly> <label
												style="font-weight: bold; margin-top: 20px; margin-right: 30px; float: right;"
												for="formFileSm" class="form-label">Sale's Team
												Signature</label>

										</div>
									</div>
								</div>
								<div class="mb-3">

									<img style="width: 120px; height: 90px; margin-right: 60px;"
										id="thumbnail" class="rounded float-right"> <input
										type="hidden" class="form-control" id="customFile" name="img" />

								</div>
							</div>
							<div
								th:style="${session.userRole == 'sales_team' || session.userRole == 'sales_team_leader' ? '' : 'display:none;'}">
								<div id="span_warning_support" class="alert"
									style="text-align: center;">
									<span class="closebtn"
										onclick="this.parentElement.style.display='none';">&times;</span>
									<strong>Warning:</strong> You cannot proceed to Support team
									until the client complies with the requirements
								</div>
							</div>

							<div id="buttonDiv"
								class="modal-footer d-flex justify-content-between">

								<div style="display: flex">
									<button type="button"
										style="display: inline-block; margin-right: 10px"
										id="ticket_status" class="btn btn-primary">View
										Ticket Status</button>

									<div
										th:style="${session.userRole  == 'collection_team' ||session.userRole  == 'treasury_team'  ? '' : 'display:none;'}">

										<button type="button" id="invoice_modal_details"
											class="btn btn-primary view_invoice_modal">View
											Invoice</button>

									</div>

								</div>

								<div class="d-flex justify-content-between">

									<div
										th:style="${session.userRole == 'billing_team' ? '' : 'display:none;'}">
										<button type="button" id="proceed_collection"
											class="btn btn-success create_invoce_modal">Create
											Invoice</button>
									</div>
									<div
										th:style="${session.userRole == 'collection_team' ? '' : 'display:none;'}">
										<button type="button" id="proceed_treasury"
											class="btn btn-success procceed_treasury">Send to
											Treasury</button>
									</div>
									<div
										th:style="${session.userRole == 'sales_team' || session.userRole == 'sales_team_leader' ? '' : 'display:none;'}">

										<button type="button" id="proceed_billing"
											class="btn btn-success proceed_to_billing_btn">Send
											To billing</button>
										<button type="button" id="proceed_support"
											class="btn btn-primary proceed_to_support_btn">SEND
											TO SUPPORT</button>
									</div>
									<button type="button" class="btn"
										style="margin-left: 10px; background-color: grey; color: white"
										data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
			<!--End Ongoing Slip -->

			<!-- Create Invoice Modal -->
			<form id="invoice-form">
				<div class="modal fade" id="invoice_modal" tabindex="-1"
					role="dialog" aria-labelledby="example" aria-hidden="true">
					<div class="modal-dialog modal-xl" role="document">
						<div class="modal-content">

							<!-- Hiiden -->
							<input type="hidden" class="form-control"
								id="client_signatures_hidden" name="client_signature"> <input
								type="hidden" class="form-control"
								id="client_payment_proofs_hidden" name="client_payment_proof">

							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Invoice</h5>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>

							<div class="modal-body">
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label for="id" class="col-form-label">Ticket No.</label> <input
												type="text" class="form-control" id="ticket_id_invoice"
												name="ticketID" readonly>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label for="conforme_no" class="col-form-label">Invoice
												date created</label> <input type="text" class="form-control"
												id="invoice_date_now" name="invoice_date" readonly>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label for="title" class="col-form-label">Client name</label>
											<input type="text" class="form-control"
												id="client_name_invoice" name="client_name" readonly>

										</div>
									</div>

									<div class="col-sm-6">
										<div class="form-group">
											<label for="description" class="col-form-label">Client
												email</label> <input type="text" class="form-control"
												id="client_email_invoice" name=client_email readonly>

										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label for="title" class="col-form-label">Ticket
												issue</label> <input type="text" class="form-control"
												id="ticket_title_invoice" name="ticket_issue_title" readonly>

										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label for="name" class="col-form-label">Amount</label> <input
												type="text" class="form-control" id="amount_invoice"
												name="invoice_amount">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<div class="row">
											<div class="col-sm-6">
												<div class="mb-3">
													<label for="customFile" class="form-label">Client's
														Signature</label>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="mb-3">
													<img
														style="width: 150px; height: 150px; margin-left: 30px; cursor: pointer;"
														id="client_signature_invoice"
														class="rounded float-left imageSignature">
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="row">
											<div class="col-sm-6">
												<div class="mb-3">
													<label for="customFile" class="form-label">Proof of
														Payment</label>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="mb-3">

													<img
														style="width: 150px; height: 150px; margin-left: 30px; cursor: pointer;"
														id="client_payment_proof_invoice"
														class="rounded float-left imageProof">

												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
							<div class="modal-footer ">
								<button type="submit" id="proceed_collection"
									class="btn btn-success create_invoice">Create Invoice</button>
								<button type="button" class="btn"
									style="margin-left: 10px; background-color: grey; color: white"
									data-dismiss="modal">Close</button>

							</div>
						</div>
					</div>
				</div>
			</form>


			<!-- View Invoice -->

			<form id="invoice-update-confirm" enctype="multipart/form-data">
				<div class="modal fade" id="view_invoice_modals" tabindex="-1"
					role="dialog" aria-labelledby="example" aria-hidden="true">
					<div class="modal-dialog modal-xl" role="document">
						<div class="modal-content">
							<!-- Hidden -->
							<input type="hidden" class="form-control"
								id="client_signature_value" name="client_signature"> <input
								type="hidden" class="form-control"
								id="client_payment_proof_value" name="client_payment_proof">
							<div class="modal-header" style="display: inline-block;">
								<h5 class="modal-title" id="exampleModalLabel"
									style="display: inline-block;">Invoice details</h5>

								<span id="ticket_progress_invoice"></span>


							</div>

							<div class="modal-body">
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label for="id" class="col-form-label">Ticket No.</label> <input
												type="text" class="form-control" id="ticket_id_view"
												name="ticketID" readonly>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label for="conforme_no" class="col-form-label">Invoice
												date created</label> <input type="text" class="form-control"
												id="invoice_date_now_view" name="invoice_date" readonly>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label for="title" class="col-form-label">Client name</label>
											<input type="text" class="form-control"
												id="client_name_invoice_view" name="client_name" readonly>

										</div>
									</div>

									<div class="col-sm-6">
										<div class="form-group">
											<label for="description" class="col-form-label">Client
												email</label> <input type="text" class="form-control"
												id="client_email_invoice_view" name=client_email readonly>

										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label for="title" class="col-form-label">Ticket
												issue</label> <input type="text" class="form-control"
												id="ticket_title_invoice_view" name="ticket_issue_title"
												readonly>

										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label for="name" class="col-form-label">Amount</label> <input
												type="text" class="form-control" id="amount_invoice_view"
												name="invoice_amount">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<div class="row">
											<div class="col-sm-6">
												<div class="mb-3">
													<label for="customFile" class="form-label">Client's
														Signature</label>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="mb-3">

													<img
														style="width: 150px; height: 150px; margin-left: 30px; cursor: pointer;"
														id="client_signature_invoice_view"
														class="rounded float-left imageSignature">
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="row">
											<div class="col-sm-6">
												<div class="mb-3">
													<label for="customFile" class="form-label">Proof of
														Payment</label>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="mb-3">

													<img
														style="width: 150px; height: 150px; margin-left: 30px; cursor: pointer;"
														id="client_payment_proof_invoice_view"
														class="rounded float-left imageProof">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="modal-footer d-flex justify-content-between">
								<div style="margin-top: 35px">
									<div
										th:style="${session.userRole == 'collection_team' ? '' : 'display:none;'}">
										<button type="button" id="generateOR"
											class="btn btn-primary generate_or">Generate OR</button>
									</div>
									<div id="proof_confirmation_treasury"
										th:style="${session.userRole == 'treasury_team' ? '' : 'display:none;'}">
										<label for="customFile" class="form-label"
											style="font-weight: bold;">Proof of confirmation</label> <input
											type="file" class="form-control" id="image_upload"
											name="img1" required />
									</div>
								</div>
								<div class="d-flex justify-content-between"
									style="margin-top: 35px">
									<div
										th:style="${session.userRole == 'collection_team' ? '' : 'display:none;'}">
										<button type="button" id="send_to_client"
											class="btn btn-primary send_to_client">EMAIL CLIENT</button>
									</div>
									<div
										th:style="${session.userRole == 'treasury_team' ? '' : 'display:none;'}">
										<button type="button" id="send_to_collection"
											class="btn btn-primary send_to_collection_button">Send
											to Collection</button>
									</div>
									<button type="button" class="btn"
										style="margin-left: 10px; background-color: grey; color: white"
										data-dismiss="modal">Close</button>

								</div>

							</div>
						</div>
					</div>
				</div>
			</form>


			<!-- End of Create Invoice Modal -->
			<!-- imageviewer -->
			<div class="modal fade" id="imageViewerModal" tabindex="-1"
				role="dialog" aria-labelledby="example" aria-hidden="true">
				<div class="modal-dialog modal-xl" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Image Viewer</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<img id="imageViewerImage" class="rounded img-fluid mx-auto my-4"
								style="display: block; margin-left: auto; margin-right: auto; max-height: 100%; max-width: 100%;">
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>

		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->

	<script src="Javascript/dashboard.js"></script>
	<script src="Javascript/admin.ark.js"></script>
	<!-- SweetAlert JS -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script th:if="${successMessage}">
		Swal.fire({
			title : 'Success',
			text : 'Ticket saved successfully!',
			icon : 'success',
			confirmButtonText : 'OK'
		});
	</script>
	<script th:if="${updateMessage}">
		Swal.fire({
			title : 'Success',
			text : 'User updated successfully!',
			icon : 'success',
			confirmButtonText : 'OK'
		});
	</script>
	<script th:if="${paymentSuccess}">
		Swal.fire({
			title : 'Success',
			text : 'Confirmation sent successfully!',
			icon : 'success',
			confirmButtonText : 'OK'
		});
	</script>
	<script th:if="${conformeSlip}">
		Swal.fire({
			title : 'Success',
			text : 'Conforme slip generated successfully!',
			icon : 'success',
			confirmButtonText : 'OK'
		});
	</script>


</body>