<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
<head>
<meta charset="UTF-8">
<title>Registration</title>
<link rel="stylesheet" href="sweetalert2.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
	type="text/css">
<link href="css/logocs.css" rel="stylesheet" />

</head>

<body>

	<div class="bg1"></div>

	<div class="mid">


		<div class="container active">
			<div class="forms">

				<div class="form signup">
					<span class="title">Admin Registration</span>
					<form th:action="@{/save}" method="post">
						<input type="hidden" required name="status" value="pending">
						<div class="input-field">
							<input type="text" placeholder="Enter your name" required
								name="user_name"> <i class="uil uil-user"></i>
						</div>
						<div class="input-field">
							<input type="text" placeholder="Enter your email" required
								name="user_email"> <i class="uil uil-envelope icon"></i>
						</div>
						<div class="input-field">
							<input type="password" class="password"
								placeholder="Create a password" required name="user_password">
							<i class="uil uil-lock icon"></i>
						</div>
						<div class="input-field">
							<input type="password" class="password"
								placeholder="Confirm a password" required name="confirmPassword">
							<i class="uil uil-lock icon"></i> <i
								class="uil uil-eye-slash showHidePw"></i>
						</div>
						<div class="input-field">
							<div class="form-select-icon">
								<i class="uil uil-user icon"></i>
							</div>
							<select class="form-select" id="dropdownRole" name="user_role"
								style="color: grey">
								<option value="Role" selected disabled>Role</option>
								<option value="sales_team">Sales Team</option>
								<option value="sales_team_leader">Sales Team Leader</option>
								<option value="support_team">Support Team</option>
								<option value="sales_team_leader">Support Team Leader</option>
								<option value="billing_team">Billing Team</option>
								<option value="sales_team_leader">Billing Team Leader</option>
								<option value="collection_team">Collection Team</option>
								<option value="collection_team_leader">Collection Team Leader</option>
								<option value="treasury_team">Treasury Team</option>
								<option value="treasury_team_leader">Treasury Team Leader</option>
								<option value="treasury_team">Super admin</option>
							</select>
						</div>

						<div class="checkbox-text">
							<div class="checkbox-content">
								<input type="checkbox" id="termCon" name="termsAndConditions">
								<label for="termCon" class="text">I accepted all terms
									and conditions</label>
							</div>
						</div>

						<div class="input-field button">
							<input type="submit" id="signupButton" value="Signup">
						</div>
					</form>
					<div class="login-signup">
						<span class="text">Already a member? <a th:href="@{/}"
							class="text login-link">Login Now</a>
						</span>
					</div>
				</div>

			</div>
		</div>

		<script src="Javascript/script.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<script th:if="${successMessage}">
			Swal.fire({
				title : 'Success',
				text : 'Account Registered Successfully!',
				icon : 'success',
				confirmButtonText : 'OK'
			});
		</script>

	</div>

</body>

</html>