<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Fontawesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="css/style.css">
	<!-- SweetAlert -->
	<link rel="stylesheet" href="sweetalert2.min.css">
	<!-- My Bootstrap CSS -->
	<link
	  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css"
	  rel="stylesheet"
	/>
	
	<!-- My Bootstrap CSS -->
		<link rel="stylesheet" th:href="'https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css'">

	
	<title>Dashboard</title>
</head>
<body>

	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand">
		<img src="img/brandlogo.png" style="width:60px;height:60px">
			<span class="text" style="color:gray">ARK</span>
		</a>
		<ul class="side-menu top">
			<li class="active">
				<a href="#">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li class="menu-item " data-table="pending" onclick="handleClick(this)">
				<a href="#">
					<i class='bx bxs-shopping-bag-alt' ></i>
					<span class="text">My Tickets</span>
				</a>
			</li>
			<li class="menu-item " data-table="ongoing" onclick="handleClick(this)">
				<a href="#">
					<i class='bx bxs-doughnut-chart' ></i>
					<span class="text">On-going Tickets</span>
				</a>
			</li>
			<li class="menu-item " data-table="completed" onclick="handleClick(this)">
				<a href="#">
					<i class='bx bxs-message-dots' ></i>
					<span class="text">Completed Tickets</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class='bx bxs-group' ></i>
					<span class="text">Team</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="#">
					<i class='bx bxs-cog' ></i>
					<span class="text">Settings</span>
				</a>
			</li>
			<li>
				<a href="/logout" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu' ></i>
			<a href="#" class="nav-link">Categories</a>
			<form action="#">
				<div class="form-input">
					<input type="search" placeholder="Search...">
					<button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
				</div>
			</form>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			<a href="#" class="notification">
				<i class='bx bxs-bell' ></i>
				<span class="num">8</span>
			</a>
			<a href="#" class="profile">
				<img src="img/people.png">
			</a>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Dashboard</h1>
					<ul class="breadcrumb">
						<li>
							<a href="#">Dashboard</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" href="#">Home</a>
						</li>
					</ul>
				</div>
				<a style="cursor:pointer;" data-toggle="modal" data-target="#createTicket" class="btn-download">
					<i class='bx bxs-cloud-download' ></i>
					<span class="text">Create Ticket</span>
				</a>
			</div>

		<ul class="box-info">
   <li class="menu-item active" data-table="pending" onclick="handleClick(this)">
        <i class='bx bxs-calendar-check' ></i>
        <span class="text">
            <h3 th:text="${pending_count}">0</h3>
            <p>Pending Tickets</p>
        </span>
    </li>
     <li class="menu-item " data-table="ongoing" onclick="handleClick(this)">
        <i class='bx bxs-group' ></i>
        <span class="text">
            <h3 th:text="${ongoing_count}">0</h3>
            <p>On-going Tickets</p>
        </span>
    </li>
   <li class="menu-item " data-table="completed" onclick="handleClick(this)">
        <i class='bx bxs-check-circle' ></i>
        <span class="text">
            <h3 th:text="${completed_count}">0</h3>
            <p>Completed Tickets</p>
        </span>
    </li>
   
</ul>


			
<!-- Pending Table -->
		<div class="table-data" id="pending-table">
    <div class="order">
        <div class="head">
            <h3>Pending tickets</h3>
            <i class='bx bx-search' ></i>
            <i class='bx bx-filter' ></i>
        </div>
       <table>
                        <thead>
                            <tr>
                                <th>Ticket #</th>
                                <th>User</th>
                                 <th>Title</th>
                                <th>Description</th>
                                <th>Date issue</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="b, i :${pending_tickets}">
                                 <td th:text="${b.ticket_id}"></td>    
                                          <td th:text="${b.user_name}"></td>
                                <td  th:text="${b.title}"></td>
                                  <td th:text="${b.description}"></td>
                                <td th:text="${b.created_on}"></td>
                                <td th:text="${b.status}">
                                <td th:text="${b.conforme_no}">
                                <span class="status completed"></span></td>
                                <td>
                           
 							 <button type="button" class="btn btn-success my-2 eBtn" th:href="@{/tickets/{ticketId}(ticketId=${b.ticket_id})}"  data-toggle="modal" data-target="#viewTicket"><i class="fa fa-edit" style="font-size:20px;"></i></button>
                                <button type="button" class="btn btn-danger my-2"><i class="fa fa-trash" style="font-size:20px;"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
    </div>
    </div>
    
    <!-- Ongoing Table -->
		<div class="table-data" id="ongoing-table" style="display:none">
    <div class="order">
        <div class="head">
            <h3>Ongoing tickets</h3>
            <i class='bx bx-search' ></i>
            <i class='bx bx-filter' ></i>
        </div>
       <table>
                        <thead>
                            <tr>
                                <th>Ticket #</th>
                                <th>User</th>
                                 <th>Title</th>
                                <th>Date issue</th>
                                    <th>Progress</th>
                                <th>Status</th>
                                  <th>Conforme no.</th>
                              <th>Amount</th>

                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="b, i :${ongoing_tickets}">
                                <td th:text="${b.ticket_id}"></td>    
                                <td th:text="${b.user_name}"></td>
                                <td  th:text="${b.title}"></td>
                                <td style=" display: none;"  th:text="${b.description}"></td>
                                <td th:text="${b.created_on}"></td>
                                <td th:text="${b.progress}"></td>
                                <td th:text="${b.status}">
                                <td th:text="${b.conforme_no}">
                                <td  th:text="${b.amount}">
                                 <td style="display:none" th:text="${b.salesSignature}">
                                  <td style="display:none"  th:text="${b.conforme_date}">
                                    <td  style="display:none" th:text="${b.client_signature}">
                                      <td  style="display:none" th:text="${b.client_payment_proof}">
                                <span class="status completed"></span></td>
                                <td>
                              <button type="button" class="btn btn-primary my-2 ml-2 ongoing"
                                 data-toggle="modal" data-target="#conformeTicket">
							    <i data-toggle="tooltip" class="fa fa-eye" style="font-size:20px;"></i>
							</button>
 							  </td>
                            </tr>
                        </tbody>
                    </table>
    </div>
    </div>
  
    <!-- Completed Table -->
		<div class="table-data" id="completed-table" style="display:none">
    <div class="order">
        <div class="head">
            <h3>Completed tickets</h3>
            <i class='bx bx-search' ></i>
            <i class='bx bx-filter' ></i>
        </div>
       <table>
                        <thead>
                           <tr>                                
                    <th scope="col">Ticket No.</th>
                    <th scope="col">Date Created</th>
                    <th scope="col">Title</th>
                    <th scope="col">Client Name</th>
                    <th scope="col">Status</th>
                	<th scope="col">Amount</th>
                    <th scope="col">Conforme No.</th>
                    <th scope="col">Progess</th>
                       <th scope="col"  >Action</th>
                </tr>
                        </thead>
                        <tbody>
                            <tr th:each="t : ${completed_tickets}">
								    <td scope="row" th:text="${t.ticket_id}"></td>
								     <td th:text="${t.created_on}"></td>
								    <td th:text="${t.title}"></td>
								    <td th:text="${t.user_name}"></td>
								    <td th:text="${t.status}"></td>
								    <td th:text="${t.amount}"></td>
							        <td th:text="${t.conforme_no}"></td>
								    <td  th:text="${t.progress}"></td>
								    <td style="display:none"  th:text="${t.conforme_date}"></td>
								    <td style="display:none" th:text="${t.salesSignature}"></td>
							        <td style="display:none" th:text="${t.description}"></td>
							        <td style="display:none" th:text="${t.client_signature}"></td>
								    <td style="display:none" th:text="${t.client_payment_proof}"></td>
								    <td  >
                              <button type="button" class="btn btn-primary my-2 ml-2 completed_modal"  data-toggle="modal" data-target="#completedModal">
							    <i data-toggle="tooltip" class="fa fa-eye" style="font-size:20px;"></i>
							</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
    </div>
    </div>
		</main>
		<!-- MAIN -->		
		
		
		<!-- Create Ticket Modal -->
 <form method="post" th:action="@{/tickets/post-ticket}">
		<div class="modal fade" id="createTicket" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		 <input type="hidden" class="form-control" name="status" value="pending">
		   	
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Create Ticket</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		      	<div class="form-group">
				   <input type="hidden" name="user_name" th:value="${session.user_name}">
				   <input type="hidden" name="user_id" th:value="${session.user_id}">
				</div>
				<div class="form-group">
				  <label for="title">Title:</label>
				  <input type="text" class="form-control" name="title" required>
				</div>
				<div class="form-group">
				  <label for="issue">Issue:</label>
				  <textarea class="form-control" rows="5" name="description" required></textarea>
				  			
				</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		        <button type="submit" class="btn btn-primary" id="createTicket">Save ticket</button>
		      </div>
		    </div>
		  </div>
	  </div>
	  </form>
 	<!-- Create Ticket End Modal -->
	  <!-- View Ticket Modal -->
<form method="post" th:action="@{/tickets/post-ticket}">
	<div class="modal fade" id="viewTicket" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	    <div class="modal-dialog" role="document">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h5 class="modal-title" id="exampleModalLabel">View Ticket</h5>
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                    <span aria-hidden="true">&times;</span>
	                </button>
	            </div>
	            
	            <div class="modal-body">
	    <div class="row">
	        <div class="col-sm-6">
	            <div class="form-group">
	                <label for="id" class="col-form-label">Ticket No</label>
	                <input type="text" class="form-control" id="id" name="ticket_id" readonly>
	            </div>
	        </div>
	        <div class="col-sm-6">
	            <div class="form-group">
	                <label for="date" class="col-form-label">Date Created</label>
	                <input type="text" class="form-control" id="date" name="created_on" readonly>
	            </div>
	        </div>
	    </div>
	    <div class="form-group">
	        <label for="title" class="col-form-label">Title</label>
	        <input type="text" class="form-control" id="title" name="title" readonly>
	    </div>
	    <div class="form-group">
	        <label for="description" class="col-form-label">Description</label>
	        <textarea class="form-control" id="description" name="description" required></textarea>
	    </div>
	    <div class="form-group">
	        <label for="name" class="col-form-label">Client Name</label>
	        <input type="text" class="form-control" id="name" name="user_name" readonly>
	    </div>
	    <div class="form-group">
	        <label for="status" class="col-form-label">Status</label>
	        <input type="text" class="form-control" id="status" name="status" readonly>
	    </div>
	</div>
	            <div class="modal-footer">
	                     <button type="submit" class="btn btn-primary" >Update</button>
	                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	            </div>
	            
	        </div>
	    </div>
	</div>
</form>
<!-- end of View Ticket Modal -->


 <!-- Completed Modal -->

		<div class="modal fade" id="completedModal" tabindex="-1" role="dialog" aria-labelledby="example" aria-hidden="true">
		  <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
        
              <input type="hidden" class="form-control" id="status_" name="status" >
             <!--   <input type="hidden" class="form-control" id="client_signatures" name="client_signature" >
               <input type="hidden" class="form-control" id="client_payment_proofs" name="client_payment_proof" >
                <input type="hidden" class="form-control" id="salesSignatures" name="salesSignature" > -->
               <input type="hidden" class="form-control" id="progress_ongoing" name="progress"  >
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Conforme Ticket</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <div class="modal-body">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="id" class="col-form-label">Ticket No.</label>
                <input type="text" class="form-control" id="ticket_id" name="ticket_id" readonly>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="conforme_no" class="col-form-label">Conforme No.</label>
                <input type="text" class="form-control"  id="conforme_no_ongoing" name="conforme_no" readonly>
            </div>
        </div>
    </div>
     <div class="row">
        <div class="col-sm-6">
    <div class="form-group">
        <label for="title" class="col-form-label">Title</label>
        <input type="text" class="form-control" id="title_ongoing" name="title" readonly>
    </div>
    </div>
    
   <div class="col-sm-6">
    <div class="form-group">
        <label for="title" class="col-form-label">Client name</label>
        <input type="text" class="form-control" id="user_name_ongoing" name="user_name" readonly>
    </div>
    </div>
    </div>
    <div class="form-group">
        <label for="description" class="col-form-label">Description</label>
        <textarea class="form-control" rows="5" name="description" id="description_ongoing" readonly></textarea>
    </div>
     <div class="row" >
        <div class="col-sm-6">
          <div class="row">
              <div class="col-sm-6">
        <div class="mb-3">
	  	<label for="customFile" class="form-label">Client's Signature</label>
	  	</div>
	  	</div>
	  	  <div class="col-sm-6">
        <div class="mb-3">
	  		<img style="width:150px;height:150px;margin-left:30px;cursor:pointer;"  id="client_signature"   class="rounded float-left imageSignature">
			
		</div>
		</div>
	</div>
    </div>
    <div class="col-sm-6">
      <div class="row">
              <div class="col-sm-6">
     <div class="mb-3">
     	 	<label for="customFile" class="form-label">Proof of Payment</label>
     	 	</div>
     	 	</div>
        <div class="col-sm-6">
     <div class="mb-3">
     
	  		<img style="width:150px;height:150px;margin-left:30px;cursor:pointer;"  id="client_payment_proof"   class="rounded float-left imageProof">
	  
	</div>
	</div>
	</div>
	
	</div>
	</div>	
	
	
	 <div class="row">
        <div class="col-sm-6">
    <div class="form-group">
        <label for="conforme_date_ongoing" class="col-form-label">Conforme date</label>
        <input type="text" class="form-control" name="conforme_date" id="conforme_date_ongoing"  readonly>
    </div>
    </div>
   <div class="col-sm-6">
   <div class="form-group">
        <label for="name" class="col-form-label">Amount</label>
        <input type="text" class="form-control" id="amount_ongoing" name="amount" readonly>
        	<label style="font-weight: bold;margin-top:20px;margin-right:30px;float:right;" for="formFileSm" class="form-label">Sale's Team Signature</label>
	
    </div>
	</div>
	</div>
	<div class="mb-3">
	  
	  		<img style="width:120px;height:90px;margin-right:60px;"  id="thumbnail"  class="rounded float-right">
	  	
	  	<input type="hidden" class="form-control" id="customFile" name="img" />
	  		
	</div>
	</div>
 <div id="buttonDiv" class="modal-footer">
    <button type="button"  id="ticket_status" class="btn btn-danger">Issue not resolved</button>
	<button type="button" class="btn btn-secondary"  data-dismiss="modal">Close</button> 
</div>
  </div>
    </div>
	   </div>

 <!-- Conformed Slip Modal -->
			
 <form th:action="@{/tickets/update-tickets-client}" enctype="multipart/form-data" method="post" >
	  
		<div class="modal fade" id="conformeTicket" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="text-align:center;" id="exampleModalLabel">On-going Ticket</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <div class="modal-body">
             <input type="hidden" class="form-control"  id="salesSignature" name="salesSignature"/>
             <input type="hidden" class="form-control"  id="status_ongoing"  name="status" >
             <input type="hidden" class="form-control"  id="_conforme_date_ongoing"  name="conforme_date" >
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="id" class="col-form-label">Ticket No.</label>
                <input type="text" class="form-control" id="ticket_id_ongoing" name="ticket_id" readonly>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="date" class="col-form-label">Conforme No.</label>
                <input type="text" class="form-control" id="conforme_no"  name="conforme_no" readonly>
            </div>
        </div>
    </div>
     <div class="row">
        <div class="col-sm-6">
    <div class="form-group">
        <label for="title" class="col-form-label">Title</label>
        <input type="text" class="form-control" id="title_ongoing_" name="title"  readonly>
    </div>
    </div>
    <div class="col-sm-6">
    <div class="form-group">
        <label for="title" class="col-form-label">Client Name</label>
        <input type="text" class="form-control"   id="user_name" name="user_name" readonly>
    </div>
    </div>
    </div>
    <div class="form-group">
        <label for="description" class="col-form-label">Description</label>
        <textarea class="form-control" rows="4" id="description_ongoing_"  name="description" readonly></textarea>
    </div>
     <div class="row">
        <div class="col-sm-6">
    <div class="form-group">
        <label for="name" class="col-form-label">Amount</label>
        <input type="text" class="form-control"  id="amount"  name="amount" readonly>
    </div>
    </div>
     <div class="col-sm-6">
    <div class="form-group">
        <label for="status" class="col-form-label">Progress</label>
        <input type="text" class="form-control"  id="progress"  name="progress" readonly>
    </div>
    </div>
    </div>
    
         <div class="row" id="ClientDataRetrieved" style="display:none">
        <div class="col-sm-6">
          <div class="row">
              <div class="col-sm-6">
        <div class="mb-3">
	  	<label for="customFile" class="form-label">Client's Signature</label>
	  	</div>
	  	</div>
	  	  <div class="col-sm-6">
        <div class="mb-3">
	  		<img style="width:150px;height:150px;margin-left:30px;cursor:pointer;"  id="client_signature_ongoing"  class="rounded float-left imageSignature">
		</div>
		</div>
	</div>
    </div>
    <div class="col-sm-6">
      <div class="row">
              <div class="col-sm-6">
     <div class="mb-3">
     	 	<label for="customFile" class="form-label">Proof of Payment</label>
     	 	</div>
     	 	</div>
        <div class="col-sm-6">
     <div class="mb-3">
	  	
	  		<img style="width:150px;height:150px;margin-left:30px;cursor:pointer;"  id="client_payment_proof_ongoing"  class="rounded float-left imageProof">
	  	<label style="font-weight: bold;margin-top:20px;margin-right:30px;float:right;" for="formFileSm" class="form-label">Sale's Team Signature</label>
	
	</div>
	</div>
	</div>
	</div>
	</div>	
	
     <div class="row" id="ClientDatas" style="display:none">
     <div class="col-sm-6">
    <div class="mb-3">
	  	<label for="customFile" class="form-label" style="font-weight:bold;">Proof of Payment (Required)</label>
	  	<input type="file" class="form-control"    id="client_payment_proof_ongoing" name="img1" required/>
	</div>
	</div>
	 <div class="col-sm-6">
	<div class="mb-3">
	  	<label for="customFile" class="form-label" style="font-weight:bold;">Client's Signature (Required)</label>
	  	<input type="file" class="form-control"  id="client_signature_ongoing" name="img2" required/>
	  	<label style="font-weight: bold;margin-top:20px;margin-right:30px;float:right;" for="formFileSm" class="form-label">Sale's Team Signature</label>
	  	
	</div>
	</div>
	</div>
	<div class="mb-1">
	</div>
	<div class="mb-5">
	<img style="width:75px;height:75px;margin-right:60px;"  id="thumbnail_ongoing"  class="rounded float-right">
	</div>
	</div>
            <div class="modal-footer">
                     <button type="submit" id="submit_button_ongoing" class="btn btn-primary" >Submit</button>
                       <button type="button" id="view_status" class="btn btn-primary"  >VIEW TICKET STATUS</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            
        </div>
    </div>
		  </div>
		  </form>
		  <!-- Conforme Ticket End Modal -->	

	
		<!-- imageviewer -->
<div class="modal fade" id="imageViewerModal" tabindex="-1" role="dialog" aria-labelledby="example" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
       <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Image Viewer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> 
      <div class="modal-body">
   <img id="imageViewerImage" class="rounded img-fluid mx-auto my-4" 
   	style="
	   	display: block;
	    margin-left: auto;
	    margin-right: auto;max-height: 100%; max-width: 100%;">
	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>	
	</section>
	
	<!-- CONTENT -->
	
	<script src="Javascript/dashboard.js"></script>
	<script th:src="'https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'"></script>
<script th:src="'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js'"></script>
<script th:src="'https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js'"></script>
	<!-- SweetAlert JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	 <script th:if="${successMessage}">
        Swal.fire({
            title: 'Success',
            text: 'Ticket saved successfully!',
            icon: 'success',
            confirmButtonText: 'OK'
        });
    </script>
    
    
    
<script type="text/javascript">
	// Get the modal and the image inside it
	
	$(document).ready(function() {
    $('.imageProof').on('click', function(event) {
        var image_proof = $("#client_payment_proof").attr("src");
        $('#imageViewerImage').attr('src', image_proof);
        $('#imageViewerModal').modal();
        
    });
});

	$(document).ready(function() {
	    $('.imageSignature').on('click', function(event) {
	        var image_proof = $("#client_signature").attr("src");
	        $('#imageViewerImage').attr('src', image_proof);
	        $('#imageViewerModal').modal();
	        
	    });
	});
	
	
	$(document).ready(function() {
	    $('#view_status').on('click', function(event) {
	        var ticketId = $('#ticket_id_ongoing').val(); // replace with the ticket ID that you want to use
	        var url = '/tickets/' + ticketId; // replace with the URL pattern that you want to use
	        window.location.href = url; // redirect to the new URL
	    });
	});

	</script>
	
		<script type="text/javascript">
		
		
		
		//Button for ongoing 
		$(document).ready(function() {
			
		    $('.completed_modal').on('click', function(event) {
		        var ticketId = $(this).closest('tr').find('td:eq(0)').text();
		        var dateCreated = $(this).closest('tr').find('td:eq(1)').text();
		        var title = $(this).closest('tr').find('td:eq(2)').text();
		        var userName = $(this).closest('tr').find('td:eq(3)').text();
		        var status = $(this).closest('tr').find('td:eq(4)').text();
		        var amount = $(this).closest('tr').find('td:eq(5)').text();
		        var conformeNo = $(this).closest('tr').find('td:eq(6)').text(); // retrieve the conforme_no value from the button's data-conforme-no attribute
		        var progress = $(this).closest('tr').find('td:eq(7)').text();
		        var conforme_date_ongoing = $(this).closest('tr').find('td:eq(8)').text();
		        var signature = $(this).closest('tr').find('td:eq(9)').text();
		        var description = $(this).closest('tr').find('td:eq(10)').text();
				var client_signature = $(this).closest('tr').find('td:eq(11)').text();
				var client_payment_proof = $(this).closest('tr').find('td:eq(12)').text();
				var toBilling = "billing_team";
				var toSupport = "support_team";
			 
					console.log(status);
					console.log(progress);
					$('#thumbnail').attr('src', '/img/' + signature);
					 
			  	  	$('#client_payment_proof').attr('src', '/img/' + client_payment_proof);
					$('#client_signature').attr('src', '/img/' + client_signature);
				
				   $('#client_payment_proofs').val(client_payment_proof);
			  	   $('#client_signatures').val(client_signature);
			  	   $('#salesSignatures').val(signature);
			  	   
				
						
				
		        $('#ticket_id').val(ticketId);
		        $('#conforme_date_ongoing').val(conforme_date_ongoing);
		        $('#title_ongoing').val(title);
		        $('#description_ongoing').val(description);
		        $('#user_name_ongoing').val(userName);
		        $('#status_').val(status);	
		        $('#amount_ongoing').val(amount);
		        $('#conforme_no_ongoing').val(conformeNo); // set the conforme_no value in the #modalView modal
		        $('#completedModal').modal();
		    });
		});
		
		
	

		$(document).ready(function() {
		    $('.ongoing').on('click', function(event) {
		        //to get the data in the table row
		        var ticketId = $(this).closest('tr').find('td:eq(0)').text();
		        var dateCreated = $(this).closest('tr').find('td:eq(4)').text();
		        var title = $(this).closest('tr').find('td:eq(2)').text();
		        var description = $(this).closest('tr').find('td:eq(3)').text();
		        var userName = $(this).closest('tr').find('td:eq(1)').text();
		        var progress = $(this).closest('tr').find('td:eq(5)').text();
		        var status = $(this).closest('tr').find('td:eq(6)').text();
		        var conforme_no = $(this).closest('tr').find('td:eq(7)').text();
		        var amount = $(this).closest('tr').find('td:eq(8)').text();
		        var signature = $(this).closest('tr').find('td:eq(9)').text();
		        var conforme_date_ongoing = $(this).closest('tr').find('td:eq(10)').text();
		        
		        
		        //setting the value from the inputs
		        $('#ticket_id_ongoing').val(ticketId);
		        $('#date').val(dateCreated);
		        $('#title_ongoing_').val(title);
		        $('#description_ongoing_').val(description);
		        $('#user_name').val(userName);
		        $('#progress').val(progress);
		        $('#status_ongoing').val(status);
		        $('#conforme_no').val(conforme_no);
		        $('#amount').val(amount);
		        $('#thumbnail_ongoing').attr('src', '/img/' + signature);
		        $('#_conforme_date_ongoing').val(conforme_date_ongoing);
		        $('#salesSignature').val(signature);
	
		        var client_signature_ongoing = $(this).closest('tr').find('td:eq(11)').text();
		        var client_payment_proof_ongoing = $(this).closest('tr').find('td:eq(12)').text();

		        if (client_signature_ongoing && client_payment_proof_ongoing) {
		            // Both fields have values, hide ClientDatas and show ClientDataRetrieved
		            $("#submit_button_ongoing").hide();
		            $("#ClientDatas").hide();
		            $("#view_status").show();
		            $("#ClientDataRetrieved").show();
		            //for images
		            $('#client_payment_proof_ongoing').attr('src', '/img/' + client_payment_proof_ongoing);
		            $('#client_signature_ongoing').attr('src', '/img/' + client_signature_ongoing);
		        } else {
		            // At least one field is null, show ClientDatas and hide ClientDataRetrieved
		            $("#submit_button_ongoing").show();
		            $("#view_status").hide();
		            
		            $("#ClientDatas").show();
		            $("#ClientDataRetrieved").hide();
		            
		        }
		    });
		});

		
			
		$(document).ready(function() {
			$('.conforme_ongoing').on('click', function(event) {
				
				event.preventDefault();	
				
				var ticketId = $(this).closest('tr').find('td:eq(0)').text();
				var dateCreated = $(this).closest('tr').find('td:eq(4)').text();
				var title = $(this).closest('tr').find('td:eq(2)').text();
				var description = $(this).closest('tr').find('td:eq(3)').text();
				var userName = $(this).closest('tr').find('td:eq(1)').text();
				var status = $(this).closest('tr').find('td:eq(5)').text();
				var conforme_no = $(this).closest('tr').find('td:eq(6)').text();
				$('#id').val(ticketId);
				$('#date').val(dateCreated);
				$('#title').val(title);
				$('#description').val(description);
				$('#name').val(userName);
				$('#status').val(status);
				$('#conforme_no').val(conforme_no);
				$('#conformeTicket').modal();
				
				
			});
		});
		
	$(document).ready(function() {
		$('.eBtn').on('click', function(event) {
			
			event.preventDefault();	
			
			var ticketId = $(this).closest('tr').find('td:eq(0)').text();
			var dateCreated = $(this).closest('tr').find('td:eq(4)').text();
			var title = $(this).closest('tr').find('td:eq(2)').text();
			var description = $(this).closest('tr').find('td:eq(3)').text();
			var userName = $(this).closest('tr').find('td:eq(1)').text();
			var status = $(this).closest('tr').find('td:eq(5)').text();
			var conforme_no = $(this).closest('tr').find('td:eq(6)').text();
			$('#id').val(ticketId);
			$('#date').val(dateCreated);
			$('#title').val(title);
			$('#description').val(description);
			$('#name').val(userName);
			$('#status').val(status);
			$('#conforme_no').val(conforme_no);
			$('#viewTicket').modal();
			
			
		});
	});
</script>
<script>

function handleClick(menuItem) {
	  // Get selected menu item and corresponding table ID
	  var selectedTableId = $(menuItem).data('table');

	  // Remove active class from all menu items and add to selected item
	  $('.menu-item').removeClass('active');
	  $(menuItem).addClass('active');

	  // Hide all tables and show selected table
	  $('.table-data').hide();
	  $('#' + selectedTableId + '-table').show();
	}
</script>
	
</body>