<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Fontawesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="css/style.css">
	<!-- My Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- My Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<title>Dashboard</title>
</head>
<body>


	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand">
		<img src="img/brandlogo.png" style="width:60px;height:60px">
			<span class="text" style="color:gray">ARK</span>
		</a>
		<ul class="side-menu top">
			<li class="active">
				<a href="#">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class='bx bxs-shopping-bag-alt' ></i>
					<span class="text">My Tickets</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class='bx bxs-doughnut-chart' ></i>
					<span class="text">On-going Tickets</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class='bx bxs-message-dots' ></i>
					<span class="text">Completed Tickets</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class='bx bxs-group' ></i>
					<span class="text">Team</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="#">
					<i class='bx bxs-cog' ></i>
					<span class="text">Settings</span>
				</a>
			</li>
			<li>
				<a href="/logout" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu' ></i>
			<a href="#" class="nav-link">Categories</a>
			<form action="#">
				<div class="form-input">
					<input type="search" placeholder="Search...">
					<button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
				</div>
			</form>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			<a href="#" class="notification">
				<i class='bx bxs-bell' ></i>
				<span class="num">8</span>
			</a>
			<a href="#" class="profile">
				<img src="img/people.png">
			</a>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Dashboard</h1>
					<ul class="breadcrumb">
						<li>
							<a href="#">Dashboard</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" href="#">Home</a>
						</li>
					</ul>
				</div>
				<a style="cursor:pointer;" data-toggle="modal" data-target="#createTicket" class="btn-download">
					<i class='bx bxs-cloud-download' ></i>
					<span class="text">Create Ticket</span>
				</a>
			</div>

			<ul class="box-info">
				<li>
					<i class='bx bxs-calendar-check' ></i>
					<span class="text">
						<h3>1020</h3>
						<p>New Tickets</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-group' ></i>
					<span class="text">
						<h3>2834</h3>
						<p>On-oging Tickets</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-check-circle' ></i>
					<span class="text">
						<h3>69</h3>
						<p>Completed Tickets</p>
					</span>
				</li>
			</ul>


			<div class="table-data">
				<div class="order">
					<div class="head">
						<h3>All tickets</h3>
						<i class='bx bx-search' ></i>
						<i class='bx bx-filter' ></i>
					</div>
					<table>
						<thead>
							<tr>	
								<th>#</th>							
								<th>User</th>
								<th>Ticket ID</th>
								<th>Title</th>
								<th>Date issue</th>
								<th>Status</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="b, i :${Ticket}">	
								<td th:text="${i.count}"></td>
								<td th:text="${b.user_name}"></td>
								<td th:text="${b.ticket_id}"></td>
								<td th:text="${b.title}"></td>
								<td th:text="${b.created_on}"></td>
								<td th:text="${b.status}"><span class="status completed"></span></td>
								<td>
								<button type="button" class="btn btn-primary my-2 ml-2" data-toggle="modal" data-target="#viewTicket"><i data-toggle="tooltip" class="fa fa-eye" style="font-size:20px;"></i></button>
								<button type="button" class="btn btn-success my-2" data-toggle="modal" data-target="#editTicket"><i class="fa fa-edit" style="font-size:20px;"></i></button>
								<button type="button" class="btn btn-danger my-2"><i class="fa fa-trash" style="font-size:20px;"></i></button>
								</td>
							</tr>							
						</tbody>
					</table>
				</div>			
			</div>
		</main>
		<!-- MAIN -->
		<!-- Create Ticket Modal -->
		<form method="post" th:action="@{/tickets/post-ticket}">
		<div class="modal fade" id="createTicket" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Create Ticket</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		      	<div class="form-group">
				   <input type="hidden" name="user_name" th:value="${session.user_name}">
				   <input type="hidden" name="user_id" th:value="${session.user_id}">
				</div>
				<div class="form-group">
				  <label for="title">Title:</label>
				  <input type="text" class="form-control" name="title">
				</div>
				<div class="form-group">
				  <label for="issue">Issue:</label>
				  <textarea class="form-control" rows="5" name="description"></textarea>
				  			
				</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		        <button type="submit" class="btn btn-primary" id="createTicket">Save ticket</button>
		      </div>
		    </div>
		  </div>
	  </div>
	  </form>
 	<!-- Create Ticket End Modal -->
	  <!-- View Ticket Modal -->
		
		<div class="modal fade" id="viewTicket" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Create Ticket</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <form method="post" th:action="@{/tickets/edit-ticket}">
		      <div class="modal-body">
		      	<div class="form-group">
				  <label for="title">Ticket ID:</label>
				  <input type="text" class="form-control" name="ticket_id">
				</div>
				<div class="form-group">
				  <label for="title">Title:</label>
				  <input type="text" class="form-control" name="title">
				</div>
				<div class="form-group">
				  <label for="issue">Issue:</label>
				  <textarea class="form-control" rows="5" name="description"></textarea>
				  			
				</div>
		      </div>
		      </form>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		        <button type="submit" class="btn btn-primary" id="createTicket">Save ticket</button>
		      </div>
		    </div>
		  </div>
		  </div>
		  
		  <!-- View Ticket End Modal -->
		  <!-- Edit Ticket Modal -->
		<form>
		<div class="modal fade" id="editTicket" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Edit Ticket</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
				<div class="form-group">
				  <label for="title">Title:</label>
				  <input type="text" class="form-control" name="title">
				</div>
				<div class="form-group">
				  <label for="issue">Issue:</label>
				  <textarea class="form-control" rows="5" name="description"></textarea>
				  			
				</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		        <button type="submit" class="btn btn-primary" id="createTicket">Save ticket</button>
		      </div>
		    </div>
		  </div>
		  </div>
		  </form>
		  <!-- Edit Ticket End Modal -->	 
		
	</section>
	<!-- CONTENT -->
	

	<script src="Javascript/dashboard.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>