<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
<head>
<meta charset="UTF-8">
<title>Login page</title>

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" type="text/css">
    <link href="css/logocs.css" rel="stylesheet" />
    
</head>
 
<body >
    
       <div class="bg1">
       </div>

      <div class="mid">

    <div class="container">
        <div class="forms">
            <div class="form login">
                <span class="title">Login</span>
			<form th:action="@{/login}" method="post">
                    <div class="input-field">
                        <input type="text" placeholder="Enter your email" name="user_email" required>
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" class="password" placeholder="Enter your password" name="user_password"  required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>

                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="logCheck">
                            <label for="logCheck" class="text">Remember me</label>
                        </div>
                        
                        <a href="#" class="text">Forgot password?</a>
                    </div>

                    <div class="input-field button">
                        <input type="submit" value="Login">
                    </div>
                </form>

                <div class="login-signup">
                    <span class="text">Not a member?
                        <a href="#" class="text signup-link">Signup Now</a>
                    </span>
                </div>
            </div>

            <!-- Registration Form -->
            <div class="form signup">
                <span class="title">Registration</span>

  <form id="registrationForm" th:action="@{/save}" method="post" >
  
		    <div class="input-field">
		        <input type="text" placeholder="Enter your name" required name="user_name">
		        <i class="uil uil-user"></i>
		    </div>
		    <div class="input-field">
		        <input type="text" placeholder="Enter your email" required name="user_email">
		        <i class="uil uil-envelope icon"></i>
		    </div>
		    <div class="input-field">
		        <input type="password" class="password" placeholder="Create a password" required name="user_password">
		        <i class="uil uil-lock icon"></i>
		    </div>
		    <div class="input-field">
		        <input type="password" class="password" placeholder="Confirm a password" required name="confirmPassword">
		        <i class="uil uil-lock icon"></i>
		        <i class="uil uil-eye-slash showHidePw"></i>
		    </div>
		      <div class="input-field">
		
		   <input type="text" value="Clients" name="user_role" disabled>
		   
		        <i class="uil uil-user"></i>
		    </div>
		
		    <div class="checkbox-text">
		        <div class="checkbox-content">
		            <input type="checkbox" id="termCon" name="termsAndConditions">
		            <label for="termCon" class="text">I accepted all terms and conditions</label>
		        </div>
		    </div>
		
		    <div class="input-field button">
		        <input type="submit" id="signupButton" value="Signup">
		    </div>
	</form>


                <div class="login-signup">
                    <span class="text">Already a member?
                        <a href="#" class="text login-link">Login Now</a>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <script src="Javascript/script.js"></script> 
 
      
    </div>
 
</body>

</html>