<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
<head>
<meta charset="UTF-8">
<title>Login page</title>
<link rel="stylesheet" href="sweetalert2.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
	type="text/css">
<link href="css/logocs.css" rel="stylesheet" />
<link rel="stylesheet" href="sweetalert2.min.css">
<!-- My Bootstrap CSS -->

<script
	th:src="'https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'"></script>
</head>

<body>
	<input type="hidden" id="input_text" th:value="${session.userRole}">
	<div class="bg1"></div>

	<div class="mid">


		<div class="container">
			<div class="forms">
				<div class="form login">
					<span class="title">Login</span>
					<form id="login-form">
						<div class="input-field">
							<input type="text" placeholder="Enter your email"
								name="user_email" required> <i
								class="uil uil-envelope icon"></i>
						</div>
						<div class="input-field">
							<input type="password" class="password"
								placeholder="Enter your password" name="user_password" required>
							<i class="uil uil-lock icon"></i> <i
								class="uil uil-eye-slash showHidePw"></i>
						</div>

						<div class="checkbox-text">
							<div class="checkbox-content">
								<input type="checkbox" id="logCheck"> <label
									for="logCheck" class="text">Remember me</label>
							</div>

							<a href="#" class="text">Forgot password?</a>
						</div>

						<div class="input-field button">
							<input class="btn-login" type="button" value="Login">
						</div>
					</form>

					<div class="login-signup">
						<span class="text">Not a member? <a href="#"
							class="text signup-link">Signup Now</a>
						</span>
					</div>
				</div>

				<!-- Registration Form -->
				<div class="form signup">
					<span class="title">Registration</span>

					<form id="registrationForm" th:action="@{/save}" method="post">
						<input type="hidden" required name="status" value="verified">
						<div class="input-field">
							<input type="text" placeholder="Enter your name" required
								name="user_name"> <i class="uil uil-user"></i>
						</div>
						<div class="input-field">
							<input type="text" placeholder="Phone number" required
								name="contactNumber"> <i class="uil uil-user"></i>
						</div>
						<div class="input-field">
							<input type="text" placeholder="Adress" required
								name="address"> <i class="uil uil-user"></i>
						</div>
						<div class="input-field">
							<input type="text" placeholder="Enter your email" required
								name="user_email"> <i class="uil uil-envelope icon"></i>
						</div>
						<div class="input-field">
							<input type="password" class="password"
								placeholder="Create a password" required name="user_password">
							<i class="uil uil-lock icon"></i>
						</div>
						<div class="input-field">
							<input type="password" class="password"
								placeholder="Confirm a password" required name="confirmPassword">
							<i class="uil uil-lock icon"></i> <i
								class="uil uil-eye-slash showHidePw"></i>
						</div>
						<div class="input-field">

							<input type="text" value="client" name="userRole" readonly>

							<i class="uil uil-user"></i>
						</div>

						<div class="checkbox-text">
							<div class="checkbox-content">
								<input type="checkbox" id="termCon" name="termsAndConditions">
								<label for="termCon" class="text">I accepted all terms
									and conditions</label>
							</div>
						</div>

						<div class="input-field button">
							<input type="submit" id="signupButton" value="Signup">
						</div>
					</form>
					<div class="login-signup">
						<span class="text">Already a member? <a href="#"
							class="text login-link">Login Now</a>
						</span>
					</div>
				</div>
			</div>
		</div>

		<script src="Javascript/script.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<script th:if="${successMessage}">
			Swal.fire({
				title : 'Success',
				text : 'Account Registered Successfully!',
				icon : 'success',
				confirmButtonText : 'OK'
			});
		</script>
		<script th:if="${emailDuplicate}">
			Swal.fire({
				title : 'Email already exist!',
				text : 'Please try different email!',
				icon : 'danger',
				confirmButtonText : 'OK'
			});
		</script>
		<script type="text/javascript">
		
		

		$(document).ready(function() {
			
		
		 if (window.history && window.history.pushState) {
		      window.history.pushState('', null, '');
		      window.onpopstate = function() {
		         window.history.pushState('', null, '');
		      };
		   }
	
			if(sessionStorage.getItem("user_role") !== null) {
				
				 var role =  sessionStorage.getItem("user_role");
				 console.log(role);
				if(role === 'client'){
						  window.location.href = 'dashboard';
				}
			else{
				  window.location.href = 'admin.ark';
					}
		   }

			  

			  $('.btn-login').on('click', function() {
			    // Show the modal
			    var form = document.getElementById("login-form");
			    var formData = new FormData(form);
			    var url = "/login";

			    $.ajax({
			      type: "POST",
			      url: url,
			      data: formData,
			      processData: false,
			      contentType: false,
			      success: function(result) {
			        console.log(result);
			        if (result === "redirect:/Login") {
			          Swal.fire({
			            title: 'Account doesn&#39;t exist!',
			            text: 'Invalid email and password! Try again!',
			            icon: 'warning',
			            confirmButtonText: 'OK'
			          }).then((s) => {

			            if (s.isConfirmed) {
			              window.location.href = result;
			            }

			          });
			        } else if (result === "admin.ark") {
			          Swal.fire({
			            title: 'Login success!',
			            text: 'Welcome back, Admin!',
			            icon: 'success',
			            confirmButtonText: 'OK'
			          }).then((s) => {

			            if (s.isConfirmed) {
			              window.location.href = "admin.ark";
			            }

			          });

			        }else if (result === "dashboard") {
				          Swal.fire({
					            title: 'Login success!',
					            text: 'Welcome back, Lovely Client!',
					            icon: 'success',
					            confirmButtonText: 'OK'
					          }).then((s) => {

					            if (s.isConfirmed) {
					              window.location.href = "dashboard";
					            }

					          });

					  } else if (result === "notVerified") {
			          Swal.fire({
			            title: 'Account is not verified!',
			            text: 'Waiting for admins approval! Try again later!',
			            icon: 'warning',
			            confirmButtonText: 'OK'
			          }).then((s) => {

			            if (s.isConfirmed) {
			              window.location.href = "redirect:/Login";
			            }

			          });

			        }

			      },
			      error: function(jqXHR, textStatus, errorThrown) {
			        // handle the error here
			        console.log(textStatus);
			      }
			    });
			  });
			});
		</script>
	</div>

</body>

</html>